<div class="row" style="margin-top: 30px;">
  <div class="col-2">
    <span style="cursor: pointer;" (click)="goBack()"><i class="far fa-arrow-alt-circle-left"></i> Go Back</span>
  </div>
</div>
<div *ngIf="weapon" class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h1>{{weapon.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>{{weapon.description}}</p>
      </div>
    </div>
  </div>
  <!-- Skin Picture -->
  <div class="col" ng-if="skins">
    <div class="row">
      <div class="col">
        <img src="../../../assets/img/item_{{getCategoryId()}}_{{currentSkin.skinId}}{{weapon.weaponId}}.png" alt="{{weapon.name}}">
      </div>
    </div>
    <!-- Skin Dropdown -->
    <div class="row">
      <div class="col">
        <div class="dropdown">
          <button [ngStyle]="{'color': getRarityColor(currentSkin)}" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentSkin.name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let skin of skins" class="dropdown-item" (click)="setCurrentSkin(skin)" [ngStyle]="{'color': getRarityColor(skin)}" style="cursor: pointer;">{{skin.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row"  *ngFor="let stat of stats">
      <div class="col">
        <span>{{stat.name | unCamelCase | titlecase}}</span>
        <div class="progress" style="height: 12px;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': stat.value}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>