<span (click)="goBack()"><i class="far fa-arrow-alt-circle-left"></i>Go Back</span>

<div *ngIf="weapon" class="row">
  <div class="col">
    <div class="row">
      <h1>{{weapon.name}}</h1>
    </div>
    <div class="row">
      <p>{{weapon.description}}</p>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <img src="../../../assets/img/item_{{getBaseSkinFileId(weapon)}}.png" alt="{{weapon.name}}">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentSkinName}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="setCurrentSkin('Base')">Base</a>
            <a *ngFor="let skin of weapon.skins" class="dropdown-item" (click)="setCurrentSkin(skin)">{{skin}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row"  *ngFor="let stat of stats">
      <div class="col">
        <p>{{stat.name | unCamelCase | titlecase}}</p>
        <div class="progress" style="height: 10px;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': stat.value}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{stat.value}}</div>
        </div>
      </div>
    </div>
  </div>
</div>