<div class="container" style="margin-top: 20px;">

  <h1>Weapons</h1>

  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="isCurrentTab('all')" routerLink="/weapons">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isCurrentTab('AR')" routerLink="/weapons" [queryParams]="{'type' : 'AR'}">AR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isCurrentTab('SMG')" routerLink="/weapons" [queryParams]="{'type' : 'SMG'}">SMG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isCurrentTab('LMG')" routerLink="/weapons" [queryParams]="{'type' : 'LMG'}">LMG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isCurrentTab('SR')" routerLink="/weapons" [queryParams]="{'type' : 'SR'}">SR</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="isCurrentTab('Sidearm')" routerLink="/weapons" [queryParams]="{'type' : 'Sidearm'}">Sidearms</a>
          </li>
      </ul>
    </div>
    <div class="col-1">
      <button class="" (click)="toCardView()"><i class="fas fa-th"></i></button>
    </div>
    <div class="col-1">
      <button class="" (click)="toTableView()"><i class="fas fa-list"></i></button>
    </div>
  </div>

  <div class="row" *ngIf="!tableView">
    <div class="col-xs-10 col-sm-4 col-md-3 col-xl-2" *ngFor="let weapon of weapons" >
      <div class="card weapon-card">
        <div class="card-body">
          <h5 class="card-title">{{weapon.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{weapon.type}}</h6>
          <img class="weapon-img" src="../../../assets/img/{{baseSkinFileId(weapon)}}" alt="{{weapon.name}}">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-table *ngIf="tableView" [values]="weapons" [headers]="['name', 'category', 'type', 'damage']" [defaultSort]="'name'"></app-table>
    </div>
  </div>
  
</div>