.weapon {
    &-card {
        position: relative;
        margin: 10px 0 10px 0;
        top: 0;
        transition: top .25s ease;
        &:hover {
            top: -3px;
        }
    }

    &-img {
        max-width: 100%;
        display: block; 
        text-align: center;
    }
}

a {
    cursor: pointer;
}