<div class="container" style="margin-top: 20px;">

  <h1>Weapons</h1>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col col-lg-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Weapon Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="query('Assault+Rifles')">Assault Rifles</a>
          <!-- <a class="dropdown-item" [routerLink]="['/weapons']" [queryParams]="{ filter: 'Light+Machine+Guns'}">Light Machine Guns</a> -->
          <!-- <a class="dropdown-item" [routerLink]="['/weapons']" [queryParams]="{ filter: 'Submachine+Guns'}">Submachine Guns</a> -->
          <!-- <a class="dropdown-item" [routerLink]="['/weapons']" [queryParams]="{ filter: 'Sniper+Rifles'}">Sniper Rifles</a> -->
          <!-- <a class="dropdown-item" [routerLink]="['/weapons']" [queryParams]="{ filter: 'Secondary'}">Sidearms</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="query('Assault+Rifles')">All</a>
        </div>
      </div>
    </div>
    <div class="col col-lg-1">
      <button class="btn btn-secondary" (click)="toCardView()"><i class="fas fa-th-large fa-lg"></i></button>
    </div>
    <div class="col col-lg-1">
      <button class="btn btn-secondary" (click)="toTableView()"><i class="fas fa-list fa-lg"></i></button>
    </div>
  </div>

  <div class="row gun-container" style="padding: 0 15px 0 15px; margin-bottom: 20px;" *ngIf="!tableView">
    <div *ngFor="let weapon of weapons" class="card weapon-card">
      <div class="card-body">
        <h5 class="card-title">{{weapon.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{weapon.type}}</h6>
        <img class="weapon-img" src="../../../assets/img/{{baseSkinFileId(weapon)}}" alt="{{weapon.name}}">
      </div>
    </div>
  </div>

  <app-table *ngIf="tableView" [values]="weapons" [headers]="['name', 'category', 'type', 'damage']" [defaultSort]="'name'"></app-table>
</div>