.weapon {
    &-card {
        position: relative;
        top: 0;
        transition: top .25s ease;
        &:hover {
            top: -3px;
        }
    }

    &-img {
        width: 100%;
        display: block; 
        text-align: center;
    }
}

.gun-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 155px);
    grid-gap: 15px;
    justify-content: space-between;
}

.weapon-table-header {
    cursor: pointer;
    user-select: none;
}