<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col col-sm-12">
      <h1>Weapons</h1>
    </div>
  </div>

  <div class="row justify-content-end">
    <!-- <div class="col col-sm-6">
        <input class="form-control" type="text" placeholder="Default input">
    </div> -->
    <div class="col col-sm-2">
      <div class="dropdown" style="margin-bottom: 20px;">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort Weapons
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="sort('alpha')">Alphabetical</a>
          <a class="dropdown-item" (click)="sort('damage')">Damage</a>
        </div>
      </div>
    </div>
  </div>
      
  <div class="row gun-container" style="padding: 0 15px 0 15px; margin-bottom: 20px;">
    <div *ngFor="let weapon of weapons" class="card weapon-card">
      <div class="card-body">
        <h5 class="card-title">{{weapon.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{weapon.type}}</h6>
        <img class="weapon-img" src="../../../assets/img/{{baseSkinFileId(weapon)}}" alt="{{weapon.name}}">
      </div>
    </div>
  </div>
</div>