<div class="container">
    <h1>Ironsight</h1>
    <h2>Join the last battle on Earth for worldwide Supremacy</h2>
    <p>Ironsight is an innovative, online military free to play, first-person, multiplayer shooter.</p>
    <p>Set in Dystopia 2025, where the warring factions, the North Atlantic Forces (NAF) and the Energy Development Enterprise Network (EDEN) are engaged in futuristic warfare in the final battle for supremacy over the last natural resources on earth.</p>
    <p>Playing Ironsight as a next-generation first-person military shooter, you are the first weapon in the Ironsight arsenal who uses judgment, premonition, and intuition to navigate the combat zones of Dystopia. Armed with the most innovative and technologically advanced weaponry and drone systems you’re prepared for the final futuristic mission.</p>
    <p>Ironsight’s realistic first-person, gameplay catapults the player into intensive combat zones as the battle between these two forces takes place across a multitude of global landmarks, with varying terrain and weather conditions too.</p>
    <p>The first of its kind, Ironsight combines realistic FPS gameplay with an arsenal of combat arms which includes innovative and technologically advanced artillery and combat skills.</p>
</div>  
